# Compiled files
*.class
runme.jar

# IDE files
.classpath
.project
.settings/
*.iml
.idea/
.vscode/

data/
build/

# OS files
.DS_Store

# Build directories
bin/
target/
out/

# Package files
*.jar
!lib/*.jar

# Log files
*.log